<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            background-image:url('./app-i/risen-wang-20jX9b35r_M-unsplash.jpg');
        }
    </style>
</head>
<body>
    <div style="background-image: url('./app-i/risen-wang-20jX9b35r_M-unsplash.jpg'); background-size: cover; width: 100vw; height: 100vh;"></div>

    <h1>Hey welcome to our gym</h1>
</body>
</html>